.App {
  font-family: sans-serif;
  text-align: center;
}
body {
    background: #010B44;
    background: -webkit-linear-gradient(top left, #010B44, #0F8E7A);
    background: -moz-linear-gradient(top left, #010B44, #0F8E7A);
    background: linear-gradient(to bottom right, #010B44, #0F8E7A);
}
.mycard{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 20px;
    position: relative;
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    min-height: 300px;
    min-width: 300px ;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}
::placeholder {
    color: red;
}
